<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>flyaway.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <display-name>flyawayapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>filters.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/ValidationFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>flyaway.web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>db.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDataServlet</display-name>
    <servlet-name>InsertDataServlet</servlet-name>
    <servlet-class>db.InsertDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDataServlet</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InsertValueServlet</display-name>
    <servlet-name>InsertValueServlet</servlet-name>
    <servlet-class>db.InsertValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertValueServlet</servlet-name>
    <url-pattern>/InsertValueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteValueServlet</display-name>
    <servlet-name>DeleteValueServlet</servlet-name>
    <servlet-class>db.DeleteValueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteValueServlet</servlet-name>
    <url-pattern>/DeleteValueServlet</url-pattern>
  </servlet-mapping>
</web-app>